global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'ecredit-backend'
    metrics_path: '/actuator/prometheus'
    static_configs:
      - targets: ['192.168.56.10:8085']
